.contentTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;

  /* 글씨 */
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contentAddBtn {
  height: 100%;
  padding: 0.3rem 1.3rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2.8235rem;
  border: 0.941px solid var(--60, #585858);
  background: #fff;

  color: #1a1a1a;
  font-size: 1.3176rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4471rem;
}

.scrollContainer {
  overflow-y: hidden;

  display: flex;
}

.scrollContainer {
  width: 100%;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

/* 컨텐츠의 제목 전체 컨테이너 */
.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6rem;
}

/* 컨텐츠 제목과 버튼을 감싸는 컨테이너 */
.titleBtnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* 컨텐츠 제목 */
.contentTitle {
  color: #fff;

  font-family: Pretendard;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4rem;
}

/* 컨텐츠 부제목 (설명) */
.contentDescript {
  color: #fff;

  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

/* 회색 sub text 설명 */
.contentInfo {
  color: #9a9a9a;
  text-align: left;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.flexSpaceBetContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:has(:only-child) {
    justify-content: flex-end;
  }
}

.btnContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.noticeBtn {
  align-self: stretch;
  cursor: pointer;
  padding: 0.4rem 0.6rem;

  border-radius: 0.4rem;
  border: 1px solid #585858;
  background: rgba(255, 255, 255, 0.1);

  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

#infoContent {
  display: flex;
}

.noItemWrapper {
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noItemContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.noItemText {
  color: #9a9a9a;

  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

#overflowEllipsisLine1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

#overflowEllipsisLine2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

#overflowEllipsisLine3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* 프로필 사진 관련 */
.subContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;

  color: #9a9a9a;

  font-family: Pretendard;
  font-size: 1.2rem;
  font-weight: 400;
}

.profileImgContainer {
  width: 3.6rem;
  height: 3.6rem;
}

.subTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

.nameContainer {
  color: #fff;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 600;
}

/* 페이지네이션 관련 */
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.paginationContainer {
  max-width: 40rem;

  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;

  flex-wrap: wrap;
}

.pageButton {
  padding: 6px 12px;
  border: none;
  color: #585858;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
}

.activePage {
  color: white;
}
